ADF/ARMTemplateForFactory.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "adfInstacart"
        },
        "LS_ADLS_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'LS_ADLS'"
        },
        "LS_sqldb_password": {
            "type": "secureString",
            "metadata": "Secure string for 'password' of 'LS_sqldb'"
        },
        "LS_ADLS_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://adlsinstacart.dfs.core.windows.net/"
        },
        "LS_http_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://raw.githubusercontent.com/"
        },
        "LS_sqldb_properties_typeProperties_server": {
            "type": "string",
            "defaultValue": "instacartserver.database.windows.net"
        },
        "LS_sqldb_properties_typeProperties_database": {
            "type": "string",
            "defaultValue": "instacartdb"
        },
        "LS_sqldb_properties_typeProperties_userName": {
            "type": "string",
            "defaultValue": "adminpriya"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/Orchestrator_pipeline')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "metadata table",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "AzureSqlSource",
                                "sqlReaderQuery": "SELECT *\nFROM metadata_ingestion_config\nWHERE is_active = 1;",
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "dataset": {
                                "referenceName": "DS_sqlsource",
                                "type": "DatasetReference",
                                "parameters": {}
                            },
                            "firstRowOnly": false
                        }
                    },
                    {
                        "name": "ForEach ingestion source",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "metadata table",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('metadata table').output.value",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "Switch to source",
                                    "type": "Switch",
                                    "dependsOn": [],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "on": {
                                            "value": "@item().source_type",
                                            "type": "Expression"
                                        },
                                        "cases": [
                                            {
                                                "value": "sqldb",
                                                "activities": [
                                                    {
                                                        "name": "sqldb pipeline",
                                                        "type": "ExecutePipeline",
                                                        "dependsOn": [],
                                                        "policy": {
                                                            "secureInput": false
                                                        },
                                                        "userProperties": [],
                                                        "typeProperties": {
                                                            "pipeline": {
                                                                "referenceName": "PPL03_copySQLdata",
                                                                "type": "PipelineReference"
                                                            },
                                                            "waitOnCompletion": true,
                                                            "parameters": {
                                                                "schema": "dbo",
                                                                "table": "orders",
                                                                "last_order_id_column": "order_id"
                                                            }
                                                        }
                                                    }
                                                ]
                                            },
                                            {
                                                "value": "github",
                                                "activities": [
                                                    {
                                                        "name": "github pipeline",
                                                        "type": "ExecutePipeline",
                                                        "dependsOn": [],
                                                        "policy": {
                                                            "secureInput": false
                                                        },
                                                        "userProperties": [],
                                                        "typeProperties": {
                                                            "pipeline": {
                                                                "referenceName": "PPL01_Copy data from github",
                                                                "type": "PipelineReference"
                                                            },
                                                            "waitOnCompletion": true,
                                                            "parameters": {}
                                                        }
                                                    }
                                                ]
                                            },
                                            {
                                                "value": "blob",
                                                "activities": [
                                                    {
                                                        "name": "blob pipeline",
                                                        "type": "ExecutePipeline",
                                                        "dependsOn": [],
                                                        "policy": {
                                                            "secureInput": false
                                                        },
                                                        "userProperties": [],
                                                        "typeProperties": {
                                                            "pipeline": {
                                                                "referenceName": "PPL02_Copyfromblob",
                                                                "type": "PipelineReference"
                                                            },
                                                            "waitOnCompletion": true,
                                                            "parameters": {}
                                                        }
                                                    }
                                                ]
                                            }
                                        ],
                                        "defaultActivities": [
                                            {
                                                "name": "Invalid source type",
                                                "type": "Fail",
                                                "dependsOn": [],
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "message": "Unsupported source_type found in metadata table",
                                                    "errorCode": "INVALID_SOURCE_TYPE"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DS_sqlsource')]",
                "[concat(variables('factoryId'), '/pipelines/PPL03_copySQLdata')]",
                "[concat(variables('factoryId'), '/pipelines/PPL01_Copy data from github')]",
                "[concat(variables('factoryId'), '/pipelines/PPL02_Copyfromblob')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/PPL01_Copy data from github')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "ForEach-copyfromgit",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "Lookup1",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('Lookup1').output.value",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "Copy data from github",
                                    "type": "Copy",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "DelimitedTextSource",
                                            "storeSettings": {
                                                "type": "HttpReadSettings",
                                                "requestMethod": "GET"
                                            },
                                            "formatSettings": {
                                                "type": "DelimitedTextReadSettings"
                                            }
                                        },
                                        "sink": {
                                            "type": "DelimitedTextSink",
                                            "storeSettings": {
                                                "type": "AzureBlobFSWriteSettings"
                                            },
                                            "formatSettings": {
                                                "type": "DelimitedTextWriteSettings",
                                                "quoteAllText": true,
                                                "fileExtension": ".txt"
                                            }
                                        },
                                        "enableStaging": false,
                                        "translator": {
                                            "type": "TabularTranslator",
                                            "typeConversion": true,
                                            "typeConversionSettings": {
                                                "allowDataTruncation": true,
                                                "treatBooleanAsNumber": false
                                            }
                                        }
                                    },
                                    "inputs": [
                                        {
                                            "referenceName": "DS_github",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "file_name": {
                                                    "value": "@item().file_name",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "referenceName": "DS_sinkadls",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "file_name": {
                                                    "value": "@item().file_name",
                                                    "type": "Expression"
                                                },
                                                "folder_name": {
                                                    "value": "@item().folder_name",
                                                    "type": "Expression"
                                                },
                                                "sub_folder_name": {
                                                    "value": "@item().sub_folder_name",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    },
                    {
                        "name": "Lookup1",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "JsonSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "JsonReadSettings"
                                }
                            },
                            "dataset": {
                                "referenceName": "DS_JSON",
                                "type": "DatasetReference",
                                "parameters": {
                                    "container_name": "raw",
                                    "paramter_file_name": "parameters1.json",
                                    "folder_name": "parameters"
                                }
                            },
                            "firstRowOnly": false
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DS_JSON')]",
                "[concat(variables('factoryId'), '/datasets/DS_github')]",
                "[concat(variables('factoryId'), '/datasets/DS_sinkadls')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/PPL02_Copyfromblob')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "ForEach1",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "Lookup1",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('Lookup1').output.value",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "Copy data from blob",
                                    "type": "Copy",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "DelimitedTextSource",
                                            "storeSettings": {
                                                "type": "AzureBlobFSReadSettings",
                                                "recursive": true,
                                                "enablePartitionDiscovery": false
                                            },
                                            "formatSettings": {
                                                "type": "DelimitedTextReadSettings"
                                            }
                                        },
                                        "sink": {
                                            "type": "DelimitedTextSink",
                                            "storeSettings": {
                                                "type": "AzureBlobFSWriteSettings"
                                            },
                                            "formatSettings": {
                                                "type": "DelimitedTextWriteSettings",
                                                "quoteAllText": true,
                                                "fileExtension": ".txt"
                                            }
                                        },
                                        "enableStaging": false,
                                        "translator": {
                                            "type": "TabularTranslator",
                                            "typeConversion": true,
                                            "typeConversionSettings": {
                                                "allowDataTruncation": true,
                                                "treatBooleanAsNumber": false
                                            }
                                        }
                                    },
                                    "inputs": [
                                        {
                                            "referenceName": "DS_rawcsv",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "file_name": {
                                                    "value": "@item().file_name",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "referenceName": "DS_sinkadls",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "file_name": {
                                                    "value": "@item().file_name",
                                                    "type": "Expression"
                                                },
                                                "folder_name": {
                                                    "value": "@item().folder_name",
                                                    "type": "Expression"
                                                },
                                                "sub_folder_name": {
                                                    "value": "@item().sub_folder_name",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    },
                    {
                        "name": "Lookup1",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "JsonSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "JsonReadSettings"
                                }
                            },
                            "dataset": {
                                "referenceName": "DS_JSON",
                                "type": "DatasetReference",
                                "parameters": {
                                    "container_name": "raw",
                                    "paramter_file_name": "parameters2.json",
                                    "folder_name": "parameters"
                                }
                            },
                            "firstRowOnly": false
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DS_JSON')]",
                "[concat(variables('factoryId'), '/datasets/DS_rawcsv')]",
                "[concat(variables('factoryId'), '/datasets/DS_sinkadls')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/PPL03_copySQLdata')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Copy sql data",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "last_cdc",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "current_timestamp",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "AzureSqlSource",
                                "sqlReaderQuery": {
                                    "value": "SELECT * FROM @{pipeline().parameters.schema}.@{pipeline().parameters.table} WHERE @{pipeline().parameters.last_order_id_column} > '@{activity('last_cdc').output.value[0].last_order_id}'",
                                    "type": "Expression"
                                },
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "ParquetWriteSettings"
                                }
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "DS_sqlsource",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DS_Parquet",
                                "type": "DatasetReference",
                                "parameters": {
                                    "container_name": "bronze",
                                    "folder_name": "sqldb",
                                    "file_name": {
                                        "value": "@concat(pipeline().parameters.table,'_',variables('current_timestamp'))",
                                        "type": "Expression"
                                    },
                                    "sub_folder_name": "Orders"
                                }
                            }
                        ]
                    },
                    {
                        "name": "last_cdc",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "JsonSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "JsonReadSettings"
                                }
                            },
                            "dataset": {
                                "referenceName": "DS_JSON_sqlDB",
                                "type": "DatasetReference",
                                "parameters": {
                                    "container_name": "bronze",
                                    "paramter_file_name": "last_order_id.json",
                                    "folder_name": "cdc_orders",
                                    "p_ingestion": "sqldb"
                                }
                            },
                            "firstRowOnly": false
                        }
                    },
                    {
                        "name": "current_timestamp",
                        "type": "SetVariable",
                        "dependsOn": [],
                        "policy": {
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "current_timestamp",
                            "value": {
                                "value": "@utcNow()",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "max of cdc_col",
                        "type": "Script",
                        "dependsOn": [
                            {
                                "activity": "Copy sql data",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "linkedServiceName": {
                            "referenceName": "LS_sqldb",
                            "type": "LinkedServiceReference"
                        },
                        "typeProperties": {
                            "scripts": [
                                {
                                    "type": "Query",
                                    "text": {
                                        "value": "SELECT MAX(@{pipeline().parameters.last_order_id_column}) as max_order_id FROM @{pipeline().parameters.schema}.@{pipeline().parameters.table}",
                                        "type": "Expression"
                                    }
                                }
                            ],
                            "scriptBlockExecutionTimeout": "02:00:00"
                        }
                    },
                    {
                        "name": "update_last_order_id",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "max of cdc_col",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "JsonSource",
                                "additionalColumns": [
                                    {
                                        "name": "last_order_id",
                                        "value": {
                                            "value": "@activity('max of cdc_col').output.resultSets[0].rows[0].max_order_id",
                                            "type": "Expression"
                                        }
                                    }
                                ],
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "JsonReadSettings"
                                }
                            },
                            "sink": {
                                "type": "JsonSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "JsonWriteSettings"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "DS_JSON_sqlDB",
                                "type": "DatasetReference",
                                "parameters": {
                                    "container_name": "bronze",
                                    "paramter_file_name": "empty.json",
                                    "folder_name": "cdc_orders",
                                    "p_ingestion": "sqldb"
                                }
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DS_JSON_sqlDB",
                                "type": "DatasetReference",
                                "parameters": {
                                    "container_name": "bronze",
                                    "paramter_file_name": "last_order_id.json",
                                    "folder_name": "cdc_orders",
                                    "p_ingestion": "sqldb"
                                }
                            }
                        ]
                    },
                    {
                        "name": "Alerts",
                        "type": "WebActivity",
                        "dependsOn": [
                            {
                                "activity": "update_last_order_id",
                                "dependencyConditions": [
                                    "Failed",
                                    "Skipped"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "method": "POST",
                            "headers": {},
                            "url": "https://prod-27.canadacentral.logic.azure.com:443/workflows/4d695d0d07864082b5bec20ec967228e/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=aj2kVS62Y-Bz8Fn-EwW7x4xk_3ugdsa33nHWz7FxOfw",
                            "body": {
                                "value": "{\n    \"pipeline_name\" : \"@{pipeline().Pipeline}\",\n    \"pipeline_runID\" : \"@{pipeline().RunId}\"\n}",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "schema": {
                        "type": "string",
                        "defaultValue": "dbo"
                    },
                    "table": {
                        "type": "string",
                        "defaultValue": "orders"
                    },
                    "last_order_id_column": {
                        "type": "string",
                        "defaultValue": "order_id"
                    }
                },
                "variables": {
                    "current_timestamp": {
                        "type": "String"
                    },
                    "watermark_json": {
                        "type": "String"
                    }
                },
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DS_sqlsource')]",
                "[concat(variables('factoryId'), '/datasets/DS_Parquet')]",
                "[concat(variables('factoryId'), '/datasets/DS_JSON_sqlDB')]",
                "[concat(variables('factoryId'), '/linkedServices/LS_sqldb')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_JSON')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_ADLS",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "container_name": {
                        "type": "string"
                    },
                    "paramter_file_name": {
                        "type": "string"
                    },
                    "folder_name": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": {
                            "value": "@dataset().paramter_file_name",
                            "type": "Expression"
                        },
                        "folderPath": {
                            "value": "@{dataset().folder_name}",
                            "type": "Expression"
                        },
                        "fileSystem": {
                            "value": "@dataset().container_name",
                            "type": "Expression"
                        }
                    }
                },
                "schema": {}
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_JSON_sqlDB')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_ADLS",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "container_name": {
                        "type": "string"
                    },
                    "paramter_file_name": {
                        "type": "string"
                    },
                    "folder_name": {
                        "type": "string"
                    },
                    "p_ingestion": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": {
                            "value": "@dataset().paramter_file_name",
                            "type": "Expression"
                        },
                        "folderPath": {
                            "value": "@{dataset().p_ingestion}/@{dataset().folder_name}",
                            "type": "Expression"
                        },
                        "fileSystem": {
                            "value": "@dataset().container_name",
                            "type": "Expression"
                        }
                    }
                },
                "schema": {}
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_Parquet')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_ADLS",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "container_name": {
                        "type": "string"
                    },
                    "folder_name": {
                        "type": "string"
                    },
                    "file_name": {
                        "type": "string"
                    },
                    "sub_folder_name": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Parquet",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": {
                            "value": "@dataset().file_name",
                            "type": "Expression"
                        },
                        "folderPath": {
                            "value": "@{dataset().folder_name}/@{dataset().sub_folder_name}",
                            "type": "Expression"
                        },
                        "fileSystem": {
                            "value": "@dataset().container_name",
                            "type": "Expression"
                        }
                    },
                    "compressionCodec": "snappy"
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_github')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_http",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "file_name": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "HttpServerLocation",
                        "relativeUrl": {
                            "value": "priya22-gif/Azure-Instacart-DE-Project/refs/heads/main/Datasets/@{dataset().file_name}",
                            "type": "Expression"
                        }
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/LS_http')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_rawcsv')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_ADLS",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "file_name": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": {
                            "value": "@dataset().file_name",
                            "type": "Expression"
                        },
                        "folderPath": "order_products",
                        "fileSystem": "raw"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_sinkadls')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_ADLS",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "file_name": {
                        "type": "string"
                    },
                    "folder_name": {
                        "type": "string"
                    },
                    "sub_folder_name": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": {
                            "value": "@dataset().file_name",
                            "type": "Expression"
                        },
                        "folderPath": {
                            "value": "@{dataset().folder_name}/@{dataset().sub_folder_name}",
                            "type": "Expression"
                        },
                        "fileSystem": "bronze"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_sqlsource')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LS_sqldb",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureSqlTable",
                "schema": [],
                "typeProperties": {}
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/LS_sqldb')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/LS_ADLS')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('LS_ADLS_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('LS_ADLS_accountKey')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/LS_http')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "HttpServer",
                "typeProperties": {
                    "url": "[parameters('LS_http_properties_typeProperties_url')]",
                    "enableServerCertificateValidation": true,
                    "authenticationType": "Anonymous"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/LS_sqldb')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureSqlDatabase",
                "typeProperties": {
                    "server": "[parameters('LS_sqldb_properties_typeProperties_server')]",
                    "database": "[parameters('LS_sqldb_properties_typeProperties_database')]",
                    "encrypt": "mandatory",
                    "trustServerCertificate": false,
                    "authenticationType": "SQL",
                    "userName": "[parameters('LS_sqldb_properties_typeProperties_userName')]",
                    "password": {
                        "type": "SecureString",
                        "value": "[parameters('LS_sqldb_password')]"
                    }
                }
            },
            "dependsOn": []
        }
    ]
}